.container
{
  margin: 0 40px;
}

.main
{
  margin-top: 3.5%;
  margin-bottom: 3%;
}

.main__title
{
  font-size: 35px;
}

.main__input-tasks
{
  margin-top: 15px;
  display: flex;
}

.input-tasks__text
{
  font-size: 22px;
}

.input-tasks__field
{
  height: 1rem;
  margin-left: 2%;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 15px;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out,
  box-shadow 0.15s ease-in-out;
}

.input-tasks__btn
{
  margin-left: 1%;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676D7;
  color: #fff;
  padding: 6px 20px;
  font-size: 16px;
  cursor: pointer;
}

.input-tasks__btn:hover
{
  background: #1d49aa;
}

.input-tasks__btn:active
{
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}

.items-list
{
  display: flex;
  justify-content: space-between;
  width: 95%;
  min-height: 400px;
}

.items
{
  width: 45%;
  padding: 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #FCF6FD;
}

.items__title
{
  margin-bottom: 15px;
}

.item
{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 55px;
  justify-content: space-between;
  padding: 10px 13px;
  background-color: #FFFAFF;
  border: 1px solid #D1D7FE;
  border-radius: 5px;
}
